---
layout: default
title: "writing"
---

<div class="content" id="content">
	
	<h1>Writing
	<a class="rss-link" target="_blank" href="./feed/feed.atom"><svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#rss"></use></svg></a>
	</h1>
	
	<p>Musings and things, maybe.</p>
	
	<div class="large-list">
		{% assign writing = site.writing | sort: 'date' | reverse %}
		{% for piece in writing %}
		<span class="date">{{piece.date | date: "%e %b %Y" }} · {{piece.type}}{% if piece.type != "poetry" %} · ~{{ piece.content | strip_html | split: ' ' | size | divided_by: 200 }}-minute read {% endif %}</span><br>
		<a href="{{piece.url}}">{{piece.title}}</a><br>

		<span class="description">{{piece.desc}}</span><br><br>
		{% endfor %}
	</div>

	
</div>