[submodule "sources/_projects/Grapher"]
	path = sources/_projects/Grapher
	url = https://github.com/SumukhPrasad/Grapher
[submodule "sources/_projects/Frequency-Addition-Demo"]
	path = sources/_projects/Frequency-Addition-Demo
	url = https://github.com/SumukhPrasad/Frequency-Addition-Demo
[submodule "sources/_projects/indic-language-transliteration-gui"]
	path = sources/_projects/indic-language-transliteration-gui
	url = https://github.com/SumukhPrasad/indic-language-transliteration-gui
[submodule "sources/_projects/Conways-Game-of-Life"]
	path = sources/_projects/Conways-Game-of-Life
	url = https://github.com/SumukhPrasad/Conways-Game-of-Life
