<nav>
	
	<!-- L -->
	<div>
		<a href="/"><b>Sumukh Prasad</b></a>
		<a href="/work">work</a>
		<a href="/writing">writing</a>
		<a href="/blog">blog</a>
	</div>
	
	<!-- R -->
	<div>
		<a target="_blank" href="https://pinterest.com/sumukh_prasad"><i><svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#pinterest"></use></svg></i></a>
		
		<a target="_blank" href="https://open.spotify.com/user/f3jv3piyvsckf0ol5wnk98xhx"><i><svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#spotify"></use></svg></i></a>
		
		<a target="_blank" href="https://github.com/sumukhprasad"><i><svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#github"></use></svg></i></a>
		<a href="/contact">@</a>
	</div>
	
</nav>