@use 'variables'

@use 'work.sass'
@use 'typography.sass'
@use 'writing.sass'
@use 'nav.sass'


@use 'banana-slip.sass'


.p5Canvas
	position: relative !important
	display: block
	margin: auto
	border-radius: 16px

.grey-background
	border-radius: 5px
	background-color: #eee
	padding: 4px

hr
	border: 3px variables.$themeColorTranslucent solid
	border-radius: 3px

body
	background: variables.$bodyBackgroundColor
	color: variables.$bodyColor
	font-family: variables.$sansFont
	margin: 0
	font-size: 12px

.content
	max-width: 640px
	margin: auto
	padding: 20px
	
.page
	max-width: 720px
	margin: auto
	background: variables.$backgroundColor

.page-precursor
	max-width: 720px
	margin: auto
	padding: 20px
	color: white


.index-section-flex
	display: flex
	justify-content: space-between
	align-items: start
	column-gap: 20px
	
@media screen and (max-width: 720px)
	.index-section-flex
		flex-direction: column
		align-items: center
		row-gap: 20px

.banner-image
	width: 640px
	max-width: 100%

a
	color: variables.$themeColor
	font-weight: bold
	text-decoration: underline
	text-decoration-color: variables.$themeColorHalf
	-webkit-text-decoration-color: variables.$themeColorHalf
	text-decoration-thickness: 2px
	text-underline-offset: 1px
	transition: all 0.2s
	&:hover
		background-color: variables.$themeColor
		text-decoration: none
		color: white

footer
	max-width: 640px
	padding: 20px
	opacity: variables.$standardHalfOpacity
	font-size: 0.75em
	margin: auto

	table td
		width: 50%
		padding: 0

.translucent
	opacity: variables.$standardHalfOpacity

.unselectable
	user-select: none
	-webkit-user-select: none
	-moz-user-select: none

.svg-icon
	width: 16px
	height: 16px
	fill: rgba(0, 0, 0, 0.5)
	transition: all 0.2s
	margin-bottom: -4px
	&:hover
		fill: rgba(0, 0, 0, 1)

.rss-link
	.svg-icon
		margin-bottom: 0px !important
		margin-left: 8px
		fill: rgba(255, 135, 0, 0.5) !important
	&:hover
		background: transparent	
		.svg-icon
			fill: rgba(255, 135, 0, 1) !important
	
.hud-notice
	position: fixed
	background-color: rgba(255, 255, 255, 0.5)
	backdrop-filter: blur(10px)
	width: 200px
	height: 200px
	text-align: center
	transform: translate(-50%, -50%)
	top: 50%
	left: 50%
	border-radius: 16px
	opacity: 1
	transition: opacity 0.5s ease-out
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-evenly
	color: rgba(0, 0, 0, 0.5)
	
	
.pagination
	text-align: center