@use "variables"

nav
	text-transform: lowercase
	max-width: 640px
	margin: auto
	padding: 20px
	color: rgba(0, 0, 0, 0.5)
	
	.right
		float: right

		.appear-on-hover
			position: absolute
			display: none
			visibility: hidden
			padding: 5px
			background-color: white
			list-style-type: none
			indent: 0
			border: 1px solid gray
			z-index: 1000
			margin-top: -10px
			
			a
				margin-left: 0px
	a, .link
		margin-left: 20px
		color: rgba(0, 0, 0, 0.5)
		text-decoration: none
		font-weight: normal
		text-decoration-color: white
		-webkit-text-decoration-color: white
		white-space: nowrap
		display: inline-block
			
		&:hover
			color: rgba(0, 0, 0, 1)
			text-decoration: underline
			background-color: transparent
			
			.appear-on-hover
				display: block
				visibility: visible
			
		
	
	.nav-separator
		margin-left: 20px
		color: rgba(0, 0, 0, 0.5)

@media screen and (max-width: 720px)
	nav
		a
			margin-left: 0px
			margin-right: 20px
			
		.nav-separator
			display: none
		
		.right
			margin-bottom: 20px
			
		div
			margin-bottom: 50px
			
		.right
			float: none