@use "variables"

nav
	text-transform: lowercase
	max-width: 640px
	margin: auto
	padding: 20px
	color: rgba(0, 0, 0, 0.5)
	
	.right
		float: right
	
	a
		margin-left: 20px
		color: rgba(0, 0, 0, 0.5)
		text-decoration: none
		font-weight: normal
		text-decoration-color: white
		-webkit-text-decoration-color: white
		&:hover
			color: rgba(0, 0, 0, 1)
			text-decoration: underline
			background-color: transparent
	
	.nav-separator
		margin-left: 20px
		color: rgba(0, 0, 0, 0.5)

@media screen and (max-width: 720px)
	nav
		a
			margin-left: 0px
			margin-right: 20px
			
		.nav-separator
			display: none
		
		.right
			margin-bottom: 20px
			
		div
			margin-bottom: 50px
			
		.right
			float: none