.monospace-text, code
	font-family: $monoFont
	
	
::selection
	background-color: $themeColorTranslucent !important
	
.caption
	opacity: $standardHalfOpacity
	margin: 0
	font-family: $serifFont
	font-style: italic
	font-weight: 300
	text-align: center
	
.caption-smalltext
	opacity: $standardHalfOpacity
	margin: 0
	font-family: $serifFont
	font-style: italic
	font-weight: 300
	text-align: center
	font-size: 0.5em
	
h1, h2, h3, h4, h5, h6
	font-family: $serifFont
	
	
blockquote
	border-left: 10px solid $themeColorTranslucent
	padding-left: 10px
	margin: 0
	font-style: italic