---
layout: default
title: "blog archive"
---

<div class="content archive">
	<h1>Previously on <i>Oveflowing Thoughts</i>...</h1>
	
	{% assign blog = site.blog | sort: 'date' | reverse | where_exp: "item", "item.title != page.title"  %}
	<div class="list">
		{% for post in blog %}
			{% assign current_month = post.date | date: "%B %Y" %}
			{% if current_month != last_month %}
				<h2 class="month">{{ current_month }}</h3>
			{% assign last_month = current_month %}
			{% endif %}
		
			<div class="list-item">
				<a href="{{post.url}}">{{post.title}}</a> <span class="date">{{post.date | date: "%e %b %Y" }}</span><br>
			</div>
		{% endfor %}
	</div>
</div>