<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>{{ page.title }} - {{ site.title }}</title>
		{% include header.html %}
	</head>
	<body>
		<div class="page">
			{% include nav.html %}
	  
	  		<div class="content">
	  			<img src="{{ page.banner }}" class="banner-image" style="margin-top: -20px;">
	  			<div class="caption-smalltext">
					{{ page.banner_license }}
	  			</div>
	  		
	  			<h1>{{ page.page_title }}
	  			<a class="rss-link" target="_blank" href="./feed/feed.xml"><svg class="svg-icon"><use xlink:href="/assets/social-icons.svg#rss"></use></svg></a>
	  			</h1>
	  		
	  			<p>{{ page.page_subtitle }}</p>
				
				<div class="large-list">
					{% for post in paginator.posts %}
						<span class="date">{{post.date | date: "%e %b %Y" }}</span><br>
						<a href="{{post.url}}">{{post.title}}</a><br>
				
						<span class="description">{{post.desc}}</span><br><br>
					{% endfor %}
				</div>
				
				<div class="pagination">
					{% if paginator.first_page_path and paginator.page != 1 %}
						<a href="{{ paginator.first_page_path }}"><< first</a>
					{% endif %}

					{% if paginator.previous_page %}
						<a href="{{ paginator.previous_page_path }}">< prev</a>
					{% endif %}

					<span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>

					{% if paginator.next_page %}
						<a href="{{ paginator.next_page_path }}">next ></a>
					{% endif %}

					{% if paginator.page != paginator.total_pages %}
						<a href="{{ paginator.last_page_path }}">last >></a>
					{% endif %}
					
					<br>
					
					<a href="/blog/archive.html">archive</a>
				</div>
			</div>
		
			{% include footer.html %}
		</div>
	</body>
</html>
