<!DOCTYPE html>
<html lang="en-us">
	{% include head.html %}

	<body class="home-body">
		<header class="home-header">
			<div class="home-header-wrapper">
				<div class="home-header-content">
					<img onmouseover="hover(this);" onmouseout="unhover(this);" src="/images/me.png" alt="Sumukh Prasad's Memoji character behind a computer">
					<div class="title">{{ page.content_title }}</div>
					<p class="about-mini"> {{ page.content_subtitle }} </p>
				</div>
				<div class="home-header-navigation">
					<ul>
						<li><a class="top" href="/">🏠</a></li>
						<li><a {% if page.url contains "/about" %} class="active"{% endif %} href="/about">📝 About</a></li>
						<li><a {% if page.url contains "/projects" %} class="active"{% endif %} href="/projects">📦 Projects</a></li>
						<li><a {% if page.url contains "/miscellaneous" %} class="active"{% endif %} href="/miscellaneous">🫧 Miscellaneous</a></li>
						<li style="margin-top: 1em;">
							<a href="https://github.com/sumukhprasad"><img src="/images/logos/github-mark.png" alt="github logo"></a>
							<a href="https://www.linkedin.com/in/sumukhprasad/"><img src="/images/logos/linkedin-mark.png" alt="linkedin logo"></a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		
		<main>

			<div class="home-content">
				{{content}}
			</div>

			{% if page.showpages %} {% if site.paginate %} {% assign posts = paginator[page.pagescollection] %}
			{% else %} {% assign posts = site[page.pagescollection] | sort: 'date' | reverse  %} {% endif %} {%- if posts.size >
			0 -%} {%- if page.list_title -%}
			<h2 class="post-list-heading">{{ page.list_title }}</h2>
			{%- endif -%}
			<div class="post-list">
				{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
				-%} {%- for post in posts -%}
					<div class="item">
						<a class="post-link" href="{{ post.url | relative_url }}">
							<!-- <div class="post-meta">{{ post.date | date: date_format }}</div> -->
							<div class="post-title">{{ post.title | escape }}</div>
							{%- if site.show_excerpts -%} <div class="post-excerpt">{{ post.excerpt }}</div> {%- endif -%}
						</a>
					</div>
				{%- endfor -%}
			</div>

			{% if site.paginate %}
			<div class="pager">
				<ul class="pagination">
					{%- if paginator.previous_page %}
					<li>
						<a
							href="{{ paginator.previous_page_path | relative_url }}"
							class="previous-page"
							>{{ paginator.previous_page }}</a
						>
					</li>
					{%- else %}
					<li><div class="pager-edge">•</div></li>
					{%- endif %}
					<li><div class="current-page">{{ paginator.page }}</div></li>
					{%- if paginator.next_page %}
					<li>
						<a
							href="{{ paginator.next_page_path | relative_url }}"
							class="next-page"
							>{{ paginator.next_page }}</a
						>
					</li>
					{%- else %}
					<li><div class="pager-edge">•</div></li>
					{%- endif %}
				</ul>
			</div>
			{%- endif %} {%- endif -%} {%- endif -%}
		</main>

		{% include envsash.html %}
	</body>

	<script>
		function hover(element) {
			element.setAttribute('src', '/images/me2.png');
		}

		function unhover(element) {
			element.setAttribute('src', '/images/me.png');
		}
	</script>
</html>
