<!DOCTYPE html>
<html lang="en-us">
	{% include head.html %}

	<body class="home-body">
		<header class="home-header">
			<div class="home-header-wrapper">
				<div class="home-header-content">
					<img onmouseover="hover(this);" onmouseout="unhover(this);" src="/images/me.png" alt="Sumukh Prasad's Memoji character behind a computer">
					<div class="title">{{ page.content_title }}</div>
					<p class="about-mini"> {{ page.content_subtitle }} </p>
				</div>
				<div class="home-header-navigation">
					<ul>
						<li><a class="top" href="/">🏠</a></li>
						<li><a {% if page.url contains "/about" %} class="active"{% endif %} href="/about">📝 About</a></li>
						<li><a {% if page.url contains "/projects" %} class="active"{% endif %} href="/projects">📦 Projects</a></li>
						<li><a {% if page.url contains "/miscellaneous" %} class="active"{% endif %} href="/miscellaneous">🫧 Miscellaneous</a></li>
						<li style="margin-top: 1em;">
							<a href="https://github.com/sumukhprasad"><img src="/images/logos/github-mark.png" alt="github logo"></a>
							<a href="https://www.linkedin.com/in/sumukhprasad/"><img src="/images/logos/linkedin-mark.png" alt="linkedin logo"></a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		
		<main>

			<div class="home-content">
				{{content}}
			</div>

			{% include postlist.html %}

		</main>

		{% include envsash.html %}
	</body>

	<script>
		function hover(element) {
			element.setAttribute('src', '/images/me2.png');
		}

		function unhover(element) {
			element.setAttribute('src', '/images/me.png');
		}
	</script>
</html>
