---
layout: default
---

<div class="post-container">
		<div class="post-context">
			<div class="highlight-on-hover" style="font-weight: bold;">sunukhprasad/{{page.collection}}</div>
			{%- if page.categories -%}
				<div class="categories">
					{%- for category in page.categories -%}
						<span>{{ category }}</span>
					{%- endfor -%}
				</div>
			{%- endif -%}
			
			<div class="separator"></div>
			<a href="/" class="highlight-on-hover">〈 🏠 home</a>
		</div>

		<div class="post-wrap">
			<div class="post-date">{{ page.date | date_to_string }}</div>

			<h1 class="post-title">{{ page.title }}</h1>

			<div class="post">
				{{ content }}
			</div>
		</div>
</div>