<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>{{ page.title }} - writing - {{ site.title }}</title>
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
		<link rel="icon" type="image/png" href="/assets/favicon.ico" />
		<script src="{{ "/assets/f.js" | relative_url }}"></script>
	</head>
	<body>
		{% include nav.html %}
		
		<div class="content writing-page" id="content">
 		
			<h1>{{ page.title }}</h1>
 			<h3 class="date">{% if page.type != "poetry" %}~{{ content | strip_html | split: ' ' | size | divided_by: 200 }}-minute read · {% endif %}{{ page.date | date: "%e %b %Y" }}</h1>
				
 			<br>
 			<br>
 			<br>
			<div class="writing-content">
 				{{ content }}
			</div>
 			<br>
 			<br>
 			<center>···</center>
 			<br>
 			<br>
 			<br>
      		
			<hr />
				
			<h3>Read more —</h3>
			<div class="small-list">
				{% assign writing = site.writing | sort: 'date' | reverse | where_exp: "item", "item.title != page.title"  %}
				{% for piece in writing limit: 3 %}
				<span class="date">{{piece.date | date: "%e %b %Y" }} · {{piece.type}}{% if piece.type != "poetry" %} · ~{{ piece.content | strip_html | split: ' ' | size | divided_by: 200 }}-minute read {% endif %}</span><br>
				<a href="{{piece.url}}">{{piece.title}}</a><br>

				<span class="description">{{piece.desc}}</span><br><br>
				{% endfor %}
				
 		
				<a href="/writing" style="opacity: 0.3;"><i>< all writing</i></a>
			</div>
 		
		
		</div>
		{% include footer.html %}
	</body>
</html>
